<div class="mobile-cta" data-mobile-cta aria-hidden="true">
  <a class="btn btn--primary" href="{{ site.cta.url }}" tabindex="-1">{{ site.cta.label }}</a>
  <a class="btn btn--ghost" href="mailto:{{ site.email }}" tabindex="-1">Email</a>
</div>
